# mac os
.DS_Store

# vscode
.vscode/*
*.code-workspace

# node
node_modules

# vite
/build
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# svelte-kit
/.svelte-kit
/package

# safety
.env
.env.*
!.env.example