---
import Layout from '../layouts/layout.astro'
import { css } from 'ui/css'
import Stack from '@/components/stack.astro'
import FelixGreenHexagon from '@/components/felix_green_hexagon.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div
		class={css({
			bg: 'bg',
			minH: '100vh',
		})}
	>
		<Stack gap="3" p="4">
			<div class={css({ w: '80', h: '80' })}>
				<FelixGreenHexagon />
			</div>
			<div>Felix Green</div>
			<p class={css({ color: 'text.muted' })}>Design Engineer</p>
			<p>Build faster websites with less client-side JavaScript.</p>
		</Stack>
	</div>
</Layout>
