---
import Layout from '../layouts/layout.astro'
import { css } from 'ui/css'
import Stack from '@/components/stack.astro'
import FelixGreenHexagon from '@/components/felix_green_hexagon.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div
		class={css({
			bg: 'bg',
			minH: '100vh',
			display: 'grid',
			gridTemplateColumns: '300px 1fr',
		})}
	>
		<Stack
			gap="12"
			pt="36"
			px="12"
			pb="12"
			{...{
				'--is-hovered': 'false',
				'--felixgreen-icon-hexagon-fill': 'colors.clear',
				'--felixgreen-icon-hexagon-stroke': 'colors.muted',
				_hover: {
					'--is-hovered': 'true',
					'--felixgreen-icon-hexagon-fill': 'colors.felix',
					'--felixgreen-icon-hexagon-stroke': 'colors.clear',
				},
			}}
		>
			<div
				class={css({
					w: '20',
					// '&[data-state=closed]': { color: 'red.300' },
					// _groupHover: { bg: 'red.500' },
					// bg: 'red.500',
				})}
			>
				<FelixGreenHexagon />
			</div>
			<Stack gap="2">
				<p>Felix Green</p>
				<p class={css({ color: 'text.muted' })}>Design Engineer</p>
			</Stack>
			<div
				class={css({
					flex: 1,
				})}
			>
			</div>
			<Stack direction="row" gap="2">
				<p>gh</p>
				<p>x</p>
				<p>li</p>
				<p>email</p>
			</Stack>
		</Stack>

		<div
			class={css({
				display: 'grid',
				gridTemplateRows: 'repeat(4, 1fr)',
			})}
		>
			<p>ambition</p>
			<p>trabian</p>
			<p>emplify</p>
			<p>bluebridge</p>
		</div>
	</div>
</Layout>
