---
import { css } from 'ui/css'

import Layout from '@/layouts/layout.astro'

import Socials from '@/components/socials.astro'
import Spacer from '@/components/spacer.astro'
import Stack from '@/components/stack.astro'
import PositionRow from '@/components/position_row.astro'
import ProgressiveBlur from '@/components/progressive_blur.astro'
import LogoFelixGreen from '@/components/logo_felix_green.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '@/data/constants'
import { positions, type Position } from '@/data/positions'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div
		class={css({
			bg: 'bg',
			minH: '100vh',
			display: 'grid',
			gridTemplateColumns: '300px 1fr',
			'& svg path': {
				transition: 'all 0.3s ease',
			},
		})}
	>
		<Stack
			gap="12"
			pt="36"
			px="12"
			pb="12"
			{...{
				'--svg-fill-opacity': 0,
				'--svg-stroke-opacity': 1,
				_hover: {
					'--svg-fill-opacity': 1,
					'--svg-stroke-opacity': 0,
				},
			}}
		>
			<div
				class={css({
					w: '20',
					// '&[data-state=closed]': { color: 'red.300' },
					// _groupHover: { bg: 'red.500' },
					// bg: 'red.500',
				})}
			>
				<LogoFelixGreen />
			</div>
			<Stack gap="2">
				<p>Felix Green</p>
				<p class={css({ color: 'text.muted' })}>Design Engineer</p>
			</Stack>
			<Spacer />
			<Socials />
		</Stack>

		<div
			class={css({
				display: 'grid',
				gridTemplateRows: 'repeat(4, 1fr)',
				gridTemplateColumns: 'max-content max-content auto',
				overflowX: 'hidden',
			})}
		>
			{
				positions.map((position: Position) => (
					//
					<PositionRow {position} />
				))
			}
		</div>

		<div
			class={css({
				position: 'fixed',
				top: 0,
				right: 0,
				bottom: 0,
				width: 8,
				pointerEvents: 'none',
			})}
		>
			<ProgressiveBlur blur={32} blurDirection="right" />
		</div>
	</div>
</Layout>
