---
import { css } from 'ui/css'

import type { AstroInstance } from 'astro'

import Stack from '@/components/stack.astro'

import type { Project } from '@/data/projects'

const project: Project = Astro.props.project

type ProjectFacetImages = {
	[key: string]: () => Promise<AstroInstance>
}
const projectFacetImages: ProjectFacetImages = project.facets.reduce(
	(acc, facet) => {
		let title = `project_${facet.type}_${facet.image}`

		acc[title] = () => import(`/src/assets/project/${title}.astro`)

		return acc
	},
	{} as ProjectFacetImages,
)

console.log('projectFacetImages', projectFacetImages)
---

<>
	{
		Object.entries(projectFacetImages).map(async ([key, value]) => {
			const DynamicComponent = (await value()).default

			return (
				<div
					class={css({
						w: 32,
						h: 32,
						aspectRatio: 'square',
					})}
				>
					<DynamicComponent />
				</div>
			)
		})
	}
</>
