---
import { css } from 'ui/css'

import BaseHead from '@/components/base_head.astro'
import ThemeSwitch from '@/components/theme_switch.astro'
import DevDebugResponsivity from '@/components/dev_debug_responsivity.astro'

const { title, description } = Astro.props

const isDev = import.meta.env.DEV
---

<html lang="en">
	<head>
		<BaseHead {title} {description} />
	</head>

	<body class={css({ fontFamily: 'main' })}>
		<ThemeSwitch />
		<slot />
		{isDev && <DevDebugResponsivity />}
	</body>
</html>
