---
import BaseHead from '../components/base_head.astro'
import ThemeSwitch from '../components/theme_switch.astro'

const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<BaseHead {title} {description} />
	</head>

	<body>
		<ThemeSwitch />
		<slot />
	</body>
</html>
